name: Lint Terraform
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 0.15.1
      - name: Terraform fmt
        run: terraform fmt -check -recursive
        continue-on-error: true
